@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
@font-face {
    font-family: 'kun';
    src: url(P22ZanerFour.otf);
}
@font-face {
    
    font-family: 'kt';
    src: url(Geoma\ Thin\ Demo.otf)
}
@font-face {
    
    font-family: 'gt';
    src: url(GrotesqueMT-Bold.otf)
}

/**********media queries******************/
@media screen and (max-width:1600px){
    .menu,.logo{
    font-size: 1.2em;
    }
    .h3{
        font-size: 7em;
    }
    .h6{
        font-size: 4em;
    }
    .h7{
        font-size: 7em;
        margin-bottom: -7%;
        margin-top:-7%;
    }
    .h8{
        font-size: 1.4em;
    }
    .h9{
        font-size: 1.4em;
    }
    .d{
        font-size: 1.4em;
        text-align: right;
    }
}

@media screen and (max-width: 400px){
    .menu,.logo{
       font-size: calc(4vw + (10 - 9) * ((80vw - 400px) / (1600 - 400)));
       display: flex;

    }
    .hero{
        max-width: 85%;
        max-height: 40%;
    }
    
}

@media screen and (max-width:688px){
    .mid-menu{
        display: none !important;
    }
  .p1{
      padding-top: 1em;
      
  }
  .skills{
    flex-direction: column;
    
  }
  .h3{
    font-size: calc(16vw + (22 - 16) * ((100vw - 668px) / (1600 - 668)));
  }
  .h6{
    font-size: calc(8vw + (10 - 8) * ((100vw - 668px) / (1600 - 668)));
  }
  .h7{
    font-size: calc(12vw + (20 - 12) * ((100vw - 668px) / (1600 - 668)));
    margin-bottom: -8%;
    margin-top:-13%;
    
  }
  .h8{
    font-size: calc(18px + (22 - 18) * ((100vw - 668px) / (1600 - 668)));
  }
  .h9{
    text-align: center;
    font-size: calc(18px + (22 - 18) * ((100vw - 668px) / (1600 - 668)));
  }
  .d{
      margin-top: 5%;
      text-align: center;
      font-size: calc(18px + (22 - 18) * ((100vw - 668px) / (1600 - 668)));
      
  }
}

@media (max-width: 768px) {
    .more-info{
      flex-direction: column;
    }
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #D5CFC7;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
/************ navbar header***********/

nav{
    display:flex;
    justify-content: space-between;
    line-height: 4rem;
}
.logo{
    font-family: 'sora';
    font-weight: bolder;
    color: #2A2928;
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    }
.mid-menu{
    text-decoration: none;
    color: #2A2928;
    font-family: 'kun';
    font-size: 3em;
    display: flex;
}
.menu a{
    padding: 0 5px;
    margin-right: 20px;
    text-decoration: none;
    color: #2A2928;
    font-family: 'sora';
    font-size: 1em; 
    font-weight: bolder;
    
}
.mid-menu:hover{
    color: white;
}
.menu a:hover,.logo:hover{
    color: white;
    text-decoration: underline;
}
.menu a:active{
    text-decoration: underline;
    color: #D5CFC7;
}


/************** first section*************/
.sec-1{
    padding: 0 36px;
    padding-top: 10px;
    margin-top:2%;
    
}
.h1{
    font-family: 'gt';
    color: #2A2928;
    font-size: calc(16vw + (22 - 16) * ((100vw - 668px) / (1600 - 668)));
    margin-top: -2%;
    margin-left: 6%;
    align-content: center;
    display: flex;
    letter-spacing: -0.10em;
}
.h2{
    font-family: 'gt';
    color: #2A2928;
    font-size: calc(16vw + (22 - 16) * ((100vw - 668px) / (1600 - 668)));
    margin-top: -7%;
    text-align: center;
    margin-left: 25%;
    letter-spacing: -0.10em;
    font-weight: bold;

}

.h3{
    font-family: 'kun';
    color: #2A2928;
    text-align: center;
    margin-top: -3%;
    font-weight: lighter;
    display: block;
    transform: rotate(-8deg);
    width: auto;
}
.h4{
    font-family: 'gt';
    color: #2A2928;
    font-size: calc(6vw + (12 - 6) * ((100vw - 668px) / (1600 - 668)));
   text-align: center;
   text-decoration: underline;
   letter-spacing: -0.10em;
   margin-top: 6%;
}
#h5{
    font-family: 'gt';
    color: #2A2928;
    font-size: calc(6vw + (12 - 6) * ((100vw - 668px) / (1600 - 668)));
    text-align: center;
    margin-top: 8%;
    letter-spacing:-0.2em;
    line-height: 1.6em;
}
.visit{
    display: flex;
    justify-content: center;
}
.h6{
    font-family: 'Readex Pro', sans-serif;
    color: #2A2928;
    justify-content: center;
    text-decoration: underline;
    line-height: 3em;
    font-weight: bolder;

}
.h6:hover{
    color: white;
}
.h7{
    font-family: 'kun';
    color: #2A2928;
    text-align: center;
    font-weight: lighter;
    display: block;
    transform: rotate(-8deg);
    width: auto;
}
.more-info{
    display: flex;
    justify-content: space-between;
    margin: 2% 3% 0 3%;

}
.h8{
    font-family: 'Readex Pro';
    color: #2A2928;
    text-align: left;
    font-weight: lighter;
    padding: 0 10px;
    flex: 50%;
    font-weight: bold;
}
.h9{
    font-family: 'Readex Pro';
    color: #2A2928;
    
    font-weight: lighter;
    padding: 10px;
    flex: 50%;
    font-weight: bold;  
    
}
.d{
    text-decoration: none;
    padding: 0 20px;
    flex: 50%;
    color: #2A2928;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'readex pro';
}
.d:hover{
    color: white;
}
.p1{
    font-family: 'sora';
    color: #2A2928;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    display: flex;
    flex: 50%;
    font-size: calc(16px + (22 - 16) * ((100vw - 668px) / (1600 - 668)));
}
.p2{
   color: #2A2928;
   font-family: 'sora';
   font-size: calc(24px + (26 - 24) * ((100vw - 668px) / (1600 - 668)));
   line-height: 4rem;
   text-align: center;
   line-height: 2em;
   font-weight: bold;
}
.hero{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
    

}
.skilled{
display: flex;

}
.sec-edu{
    margin-top: 5%;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    
}


.skills{
   color: #2A2928;
   font-family: 'sora';
   font-weight: bold;
   font-size: calc(26px + (30 - 26) * ((100vw - 668px) / (1600 - 668)));
   text-align: center;
   line-height:1.5em;
   
}
.work-sec{
    padding: 0 3%;
}
.work{
    width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5%;
}

.follow{
    font-size: 6vw;
    font-family: 'sora';
    text-align: center;
    
}
.footer{
    
    margin-top:8%;
    text-align: center;
  
    
}
.footer-link {
    text-decoration:underline;
    color: #2A2928;
    padding: 0 10px;
    font-family: 'sora';
    line-height: 3em;
    text-align: center;
    font-weight: bolder;
    font-size: calc(5vw + (10 - 4) * ((100vw - 668px) / (1600 - 668)));
}
.footer-link:hover{
    color: white;
}
.copyright{
    font-size: calc(10px + (15 - 10) * ((100vw - 668px) / (1600 - 668)));
    letter-spacing: 0;
    margin-top: 5%;
    text-align: center;
    font-family: 'sora';
    font-weight: bold;
}
